h1{
    text-decoration: underline;
    font-weight: bold;
    
}
h2{
    text-decoration: line through;
    font-weight: lighter;
}
h3{
    text-decoration: underline;
    font-weight: normal;
} 